#admin-menu {
    margin: 0px;
}

/*============== Main properties ==============*/

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font: 13px Arial;
    color: #000;
	//background:url(../images/bg.png) repeat;
	position:relative;
}
/* from atr.by */
.footer,.body{position:relative;background:#fff;width:100%;-moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4); -o-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4); box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);}
.body{margin-bottom:20px;padding-bottom:20px;}
.wrapper{width:85%;margin:0 auto;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.wrapper.min{min-width:1120px;}
.footer{margin-bottom:20px;}
.footer a{color:#3a3a3a!important;}
.footer span { font-size: 10px;}

.cf:after{clear:both;}
.cf{*zoom: 1;}
._left{float: left;}
._right{float: right;}
._ov{overflow: hidden;}
.clear{clear:both;}

.oh,.ot,.tt,.rt{float:left;padding:0 2% 2% 0;width:48%;position:relative;}
.ot{width:31%!important;padding:10px 10px 20px 10px;margin-top:63px;background:#f0f0f0;}
.ot h2{margin-left:20px;}
.tt{width:62%!important;}
.rt{width:34%!important;}

.footer-info{padding:20px;font-size:10px;line-height:1.5em;}
/* end from atr.by */

img {
    border: none;
}

h2 {
    margin-bottom: 10px;
    font-size: 17px;
}

h2.cufon {
    background: url(../img/h2_cont.png) no-repeat left top;
    padding-left: 10px;
    height: 23px;
    min-width: 146px;
    color: #fff;
}

.cufon a {
    color: #fff;
}

h3 {
    font-size: 14px;
    color: #000;
    font-weight: normal;
}

td.shin_price {
    color: #000000 !important;
    font: bold 14px Arial, Helvetica, sans-serif !important;
}

td.shin_price p {
    /*padding-left: 5px!important; position:absolute; margin-top:-9px!important;*/
}

div.views-field.views-field-title h3.field-content a {
    color: #000 !important;
    font-size: 16px !important;
    /*2B2BD5*/
    font-weight: bold !important;
    text-decoration: none; /**/
}

div.field-item.even h2 a {
    color: #000000 !important;
    text-decoration: none;
}

div.views-row div.views-field.views-field-title span.field-content a {
    font-weight: bold !important;
    color: #000000 !important;
    font-size: 14px;
    text-decoration: none;
}

div.item-list div.views-field.views-field-title span.field-content a {
    font-weight: bold !important;
    color: #000000 !important;
    font-size: 14px;
    text-decoration: none;
}

h4 {
    font-size: 12px;
    color: #000;
    padding-bottom: 1px;
    font-weight: normal;
    padding-bottom: 9px;
}

a {
    color: #084B83 /* 0099FF 000066*/;
}

a:hover {
    text-decoration: none;
}

p {
    line-height: 12px;
    padding-bottom: 12px;
}

#homepage .panels-flexible-region-1-center  .view-display-id-block_1 ul li {
    background: /*#F2F2F2*/ url(../img/it1.png) no-repeat 3px 7px;
    margin: 0px;
    margin-bottom: 12px;
    padding-bottom: 2px;
    padding-left: 12px;
    overflow: hidden;
    padding-right: 10px;
    list-style: none;
}

.date {
    padding: 0 0 0 14px;
}

#page {
    /* background: transparent url('../img/bg_body_img.png') no-repeat center top;*/
}

#section-content {
    min-height: 650px;
}

.context-catalog .error {
    display: none;
}

table {
    border-collapse: collapse;
	border: 0;
}

thead {
    background-color: #ddd;
}

thead a {
    text-decoration: none;
    border-bottom: 1px dashed #006;
    margin: 0px 5px;
}

thead a img {
    margin: 1px 3px 0px 3px;
}

thead a:hover {
    border: none;
}

th {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: left; /* LTR */
}


tr.even,
tr.odd {
    background-color: #fff;
    border: 0px;
}

tr.even {
    /*background-color: #eee;*/
}

.catalog_item {
    border-bottom: 1px solid #eee;
}

th.active img {
    display: inline;
}

td,
td.active {
    background-color: transparent;
    border: 0;
    padding: 5px 10px;
}

input.form-submit {
    padding: 4px 10px;
    margin: 0px 5px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 52%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(52%, #eeeeee), color-stop(100%, #cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 52%, #cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 52%, #cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 52%, #cccccc 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #eeeeee 52%, #cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#cccccc', GradientType = 0); /* IE6-9 */
    color: #333;
    text-shadow: 0px 0px 3px #ccc;
    font-weight: bold;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border: 1px solid #eee;
    cursor: pointer;
}

input.form-submit:hover {
    color: #666;
    box-shadow: 0px 0px 3px #666;
}

ul.pager {
    padding: 10px 0px;
}

ul.pager li a {
    font-weight: bold;
    text-decoration: none;
}

ul.pager li:hover a {
    color: #888;
    font-size: 12px;
}

.pager li {
    padding: 0px 2px !important;
    margin: 0px 0px 0px 2px !important;
}

ul.pager li a {
    padding: 5px 2px !important;
}

ul.pager li.pager-current {
    padding: 3px 2px !important;
    font-weight: bold;
    color: #000;
    font-size: 12px;
    font-weight: normal;
}

.YMaps-layer-container td,
.YMaps-layer-container td.active,
.YMaps-layer-container table,
.YMaps-layer-container tr,
.YMaps-layer-container th,
.YMaps-layer-container thead,
.YMaps-layer-container tbody {
    border: 0px;
}


/*============== Header properties ==============*/
#zone-branding #region-branding #block-user-login h2.block-title {
    display: none;
}

#zone-branding #region-branding #region-user-first {
    font-size: 10px;
    padding-top: 31px;
    text-align: right;
}

#zone-branding #region-branding #block-user-login div {
    overflow: hidden;
    padding-bottom: 2px;
    margin: 0px;
}

#zone-branding #region-branding #block-user-login input {
    border: 1px solid #CFDFE6;
    background: white;
    font-size: 10px;
    padding: 1px 5px;
    width: 138px;
    border-image: initial;
}

#zone-branding #region-branding #block-user-login input.form-submit {
    width: 50px;
}

#zone-branding #region-branding #block-user-login label {
    float: left;
    width: 65px;
    text-align: right;
    font-size: 13px;
    font-weight: normal;
    padding: 0px 5px 0px 0px;
}

#zone-branding #region-branding #block-user-login .item-list {
    float: left;
}

#zone-branding #region-branding #block-user-login .item-list ul li {
    display: inline;
    padding: 0px 10px 0px 0px;
    list-style: none;
    margin: 0px;
    color: #000;
}

#zone-branding #region-branding #block-user-login .item-list ul li.last {
    padding: 0px 5px 0px 0px;
}

#zone-branding #region-branding #block-user-login .item-list ul li a {
    color: #666;
    margin-right: 5px;
}

#zone-branding #region-branding #block-user-login .item-list ul li:after {
    content: "|";
}

#zone-branding #region-branding #block-user-login #edit-actions {
    float: left;
}

#zone-branding #region-branding #block-user-login #edit-submit,
#zone-branding #region-branding #block-user-login #edit-submit--2 {
    background: none;
    filter: none; /* IE6-9 */
    border: 0px;
    float: left;
    display: list-item;
    width: auto;
    text-decoration: underline;
    cursor: pointer;
    color: #020305;
    font-weight: bold;
    font-size: 11px;
    text-shadow: none;
    padding: 0px 3px;
}

#zone-branding #region-branding #block-user-login #edit-submit:hover,
#zone-branding #region-branding #block-user-login #edit-submit--2:hover {
    border: 0px;
    box-shadow: none;
    text-decoration: none;
}

#section-header {
    height: 118px;
    clear: both;
}

#section-header .makaronina {
    padding: 1px 0px 1px 54px;
    font-weight: bold;
}

#zone-branding {
    height: 118px;
    /*background: url(../img/header_bg.png) no-repeat top center;*/
}

#zone-branding #region-branding #block-block-1 {
    float: left;
    width: 150px;
    padding: 23px 10px;
}

#zone-branding #region-branding #block-block-2 {
    float: left;
    width: 260px;
    padding: 5px 10px 0px 10px;
    height: 12px;
}

#zone-branding #region-branding #block-block-2 .navigation {
    overflow: hidden;
    padding-bottom: 7px;
    padding-left: 45px;
}

#zone-branding #region-branding #block-block-2 .navigation li {
    float: left;
    list-style: none;
    padding-right: 2px;
}

#zone-branding #region-branding #block-block-2 .navigation li a {
    height: 14px;
    width: 33px;
    display: block;
    float: left;
    height: 12px;
}

#zone-branding #region-branding #block-block-2 .navigation li a:hover {
    background-position: center -13px;
}

#zone-branding #region-branding #block-block-2 .search {
    background: #fff url(../img/search.png) no-repeat center top;
}

#zone-branding #region-branding #block-block-2 .tel {
    background: #fff url(../img/tel.png) no-repeat center top;
}

#zone-branding #region-branding #block-block-2 .mail {
    background: #fff url(../img/mail.png) no-repeat center top;
}

#zone-branding #region-branding #block-user-login,
#zone-branding #region-branding #block-system-user-menu {
    float: right;
    width: 260px;
    height: 52px;
    padding: 5px 10px 1px 10px;
    margin: 30px 0 0 0;
}

#zone-branding #region-branding #block-system-user-menu h2.block-title {
    display: none;
}

#zone-branding #region-branding .branding-data {
    width: 450px;
    float: left;
}

#zone-branding #region-branding .logo-img {
    width: 200px;
    margin: 0 14px 0 15px;
    padding: 25px 0 0 0;
}

#zone-branding #region-branding #block-system-user-menu ul li {
    list-style: none;
}

/*============== Header properties ==============*/
/*============== Menu properties ==============*/
#region-menu {
    overflow: hidden;
    clear: both;
    margin-top: -36px;
    margin-left: 15px;
}

#region-menu ul.main-menu li {
    float: left;
    list-style: none;
    border-right: 1px solid #fff;
    padding: 0px;
}

#region-menu ul.main-menu li.first {
    border-left: 1px solid #fff;
}

#region-menu ul.main-menu li a {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    text-align: center;
    text-decoration: none;
    width: 128px;
    background: url(../img/menuc.png) repeat-x left bottom;
}

#region-menu ul.main-menu li.first a {
    width: 131px;
}

#region-menu ul.main-menu li.active a {
    /* background: url(../img/menuc.png) repeat-x left bottom!important; */
}

#region-menu ul.main-menu li a:hover,
#region-menu ul.main-menu li.active a:hover {
    background: url(../img/menuca.png) repeat-x left bottom;
}

#region-menu ul.main-menu .menu-758 a {
    width: 149px;
}


/*============== Mine styles ==============*/

h1.title {
	display: block;
	margin: 10px 5px 20px 20px;
}



.filter-title {
	background-color: #c1dbfa;
	border: 1px solid #aecaf0;
    padding: 4px 4px 4px 8px;
}

.filter-content {
	border: 1px solid #aecaf0;
}

.form-item-block {
	margin: 15px 10px;
}

.form-item-block  label{
	display: block;
	margin-bottom: 3px;
}

.form-item-block  select{
	font-size: 14pt;
}

.form-item-block .filter-delimiter {
	margin: 10px;
	font-size: 20pt;
}


.listing-block {
	background-color: #e9e9e9;
}

.listing-table {
	width: 100%;
}

.listing-table th {
	background-color: #940101;
    border: 0 solid #bebebe;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 5px 8px;
}

.listing-table td{
	border: 1px solid #bebebe;
}

.cat-img {
	padding: 0;
}

.listing-table img{
	height: 50px;
}

.listing-table input {
	width: 20px;
}

.filter-block {
	width: 200px;
	margin-top: 10px;
}

.main-content {
	width: 79%;
}

.finded-result-label {
	text-align: right;
	color: #940101;
}

.tires-list {
	padding: 15px;
}

.pages-block  {
	background-color: #e9e9e9;
	margin-left: 60px;
	padding: 5px;
	text-align: center;
}
.pages-block table {
	
}
.pages-block table td{
	padding: 0 5px;
	width: 20px;
}
.pages-block table td a{
	padding: 0;
	color: black;
	//font-weight: bold;
}

.tire-main-block {
	margin: 10px 0 0 30px;
}

.tire-description-block {
	margin: 30px 0 50px 20px;
}
.tire-description-block li {
	list-style-type: none;
}


.size-table td {
	border: 1px solid #a9a9a9;
	padding: 5px 25px 5px 10px;
}
.size-table .header-td {
	
	font-weight: bold;
}

.breadcrumbs {
	margin: 10px 0 30px 20px;
}
.breadcrumbs a{
	color: #000;
}



.float_left {
	float: left;
}

.clear {
	clear: both;
}

aside {
	display: block;
	float: left;
}


.season-type-1, .season-type-2, .season-type-3 { width: 25px; height: 13px; }
.season-type-1 { background: url(../../images/tires/ss.png); }
.season-type-2 { background: url(../../images/tires/sun.png) repeat-x; }
.season-type-3 { background: url(../../images/tires/sneg.png) repeat-x; }