<div>
	<h2>Регистрация площадки</h2>
	<form action="">
		<table>
			<tr>
				<td>Email</td>
				<td><input type="text" name="email" value=""></td>
			</tr>
			<tr>
				<td>Пароль</td>
				<td><input type="password" name="pwd" value=""></td>
			</tr>
			<tr>
				<td>Повторите пароль</td>
				<td><input type="password" name="pwd2" value=""></td>
			</tr>
			<tr>
				<td>Адрес площадки</td>
				<td><input type="text" name="platform_url" value=""></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Зарегистрировать"></td>
			</tr>
		</table>
	</form>
</div>

