<div class="footer" style="background-color: #222;color: #fff;">
    <div class="footer__text">
        <p>© ООО "ООО", 142116, Московская обл., г. Подольск, ул. Домодедовское шоссе 22.<br/>Р/с 40702810900000016537 ОАО "Промсвязьбанк", К/с 30101810400000000555, БИК 044525555с, ОГРН 1135074015592</p>
    </div>
</div>