<div class="header__text" style="margin-left: 0px;">
	<div>
		<a href="/" style="width: 100%;">
			<img src="/images/parts_logo_wide.jpg" alt="" style="width: 100%;"/>
		</a>
	</div>
	
	<div class="header__login" style="padding: 5px 20px 5px 0px;">
		{:include file="blocks/account_menu.tpl":}
	</div>
</div>
<div class="header bottom" style="margin: 0px;">

	<div class="result_gsearch_block">
	</div>

	<!--div class="header__logo">
		<a href="{:$page->getConfigParam('SITEURL'):}">
			<img src="/images/parts_logo_small.jpg" alt=""/>
		</a>
	</div-->
</div>

