
/* Brands sprite */

.auto_brand {
    width:100px;
    height:75px;
    background:url(../images/large.sprite.jpg) no-repeat 0px 0px;
    display: block;
	float:left;
}


.auto_brand__acura {
    background-position:0 0;
}

.auto_brand__alfa_romeo {
    background-position:-101px 0;
}

.auto_brand__aston_martin {
    background-position:-201px 0;
}

.auto_brand__audi { 
    background-position:-300px 0;
}

.auto_brand__bentley {
    background-position:-400px 0;
}

.auto_brand__bmw {
    background-position:-501px 0;
}

.auto_brand__brilliance {
    background-position:-601px 0;
}

.auto_brand__bugatti {
    background-position:-701px 0;
}

.auto_brand__buick {
    background-position:-800px 0;
}

.auto_brand__byd {
    background-position:-900px 0;
}

.auto_brand__cadillac {
    background-position:-1001px 0;
}

.auto_brand__chery {
    background-position:-1101px 0;
}

.auto_brand__chevrolet {
    background-position:-1201px 0;
}

.auto_brand__citroen {
    background-position:-1304px 0;
}

.auto_brand__chrysler {
    background-position:-1401px 0;
}

.auto_brand__dacia {
    background-position:-1500px 0;
}

.auto_brand__daewoo {
    background-position:-1600px 0;
}

.auto_brand__daihatsu {
    background-position:-1700px 0;
}

.auto_brand__dodge {
    background-position:-1801px 0;
}

.auto_brand__ferrari {
    background-position:-1901px 0;
}

.auto_brand__fiat {
    background-position:-2001px 0;
}

.auto_brand__ford {
    background-position:-2100px 0;
}

.auto_brand__gaz {
    background-position:-2201px 0;
}

.auto_brand__geely {
    background-position:-2302px 0;
}

.auto_brand__great_wall {
    background-position:-2401px 0;
}

.auto_brand__honda {
    background-position:-2501px 0;
}

.auto_brand__hummer {
    background-position:-2600px 0;
}

.auto_brand__hyundai {
    background-position:-2701px 0;
}

.auto_brand__infiniti {
    background-position:-2801px 0;
}

.auto_brand__isuzu {
    background-position:-2901px 0;
}

.auto_brand__jaguar {
    background-position:-3001px 0;
}

.auto_brand__jeep {
    background-position:-3100px 0;
}

.auto_brand__kia {
    background-position:-3200px 0;
}

.auto_brand__lada {
    background-position:-3301px 0;
}

.auto_brand__lamborghini {
    background-position:-3401px 0;
}

.auto_brand__lancia {
    background-position:-3501px 0;
}

.auto_brand__land_rover {
    background-position:-3600px 0;
}

.auto_brand__lexus {
    background-position:-3700px 0;
}

.auto_brand__lifan {
    background-position:-3801px 0;
}

.auto_brand__lincoln {
    background-position:-3900px 0;
}

.auto_brand__lotus {
    background-position:-3999px 0;
}

.auto_brand__maybach {
    background-position:-4098px 0;
}

.auto_brand__mazda {
    background-position:-4203px 0;
}

.auto_brand__maserati {
    background-position:-4297px 0;
}

.auto_brand__mercedes-benz {
    background-position:-4400px 0;
}

.auto_brand__mg {
    background-position:-4501px 0;
}

.auto_brand__mini {
    background-position:-4599px 0;
}

.auto_brand__mitsubishi {
    background-position:-4701px 0;
}

.auto_brand__morgan {
    background-position:-4800px 0;
}

.auto_brand__nissan {
    background-position:-4901px 0;
}

.auto_brand__opel {
    background-position:-5000px 0;
}

.auto_brand__peugeot {
    background-position:-5101px 0;
}

.auto_brand__porsche {
    background-position:-5200px 0;
}

.auto_brand__proton {
    background-position:-5301px 0;
}

.auto_brand__renault {
    background-position:-5401px 0;
}

.auto_brand__rolls-royce {
    background-position:-5502px 0;
}

.auto_brand__saab {
    background-position:-5601px 0;
}

.auto_brand__seat {
    background-position:-5700px 0;
}

.auto_brand__skoda {
    background-position:-5803px 0;
}

.auto_brand__smart {
    background-position:-5898px 0;
}

.auto_brand__ssangyong {
    background-position:-6000px 0;
}

.auto_brand__subaru {
    background-position:-6100px 0;
}

.auto_brand__suzuki {
    background-position:-6200px 0;
}

.auto_brand__tagaz {
    background-position:-6299px 0;
}

.auto_brand__tata {
    background-position:-6501px 0;
}

.auto_brand__toyota {
    background-position:-6408px 0;
}

.auto_brand__tvr {
    background-position:-6599px 0;
}

.auto_brand__uaz {
    background-position:-6700px 0;
}

.auto_brand__volkswagen {
    background-position:-6800px 0;
}

.auto_brand__volvo {
    background-position:-6900px 0;
}

.auto_brand__zaz {
    background-position:-6999px 0;
}

.m-auto_brand {
    height:56px;
    width:76px;
    background:url('../i/brands/small.sprite.jpg') no-repeat 0px 100px;
    display: block;
}

.m-auto_brand__acura {
    background-position:0 0;
}

.m-auto_brand__alfa_romeo {
    background-position:-75px 0;
}

.m-auto_brand__aston_martin {
    background-position:-150px 0;
}

.m-auto_brand__audi {
    background-position:-225px 0;
}

.m-auto_brand__bentley {
    background-position:-300px 0;
}

.m-auto_brand__bmw {
    background-position:-375px 0;
}

.m-auto_brand__brilliance {
    background-position:-450px 0;
}

.m-auto_brand__bugatti {
    background-position:-525px 0;
}

.m-auto_brand__buick {
    background-position:-600px 0;
}

.m-auto_brand__byd {
    background-position:-675px 0;
}

.m-auto_brand__cadillac {
    background-position:-750px 0;
}

.m-auto_brand__chery {
    background-position:-825px 0;
}

.m-auto_brand__chevrolet {
    background-position:-900px 0;
}

.m-auto_brand__citroen {
    background-position:-975px 0;
}

.m-auto_brand__chrysler {
    background-position:-1050px 0;
}

.m-auto_brand__dacia {
    background-position:-1123px 0;
}

.m-auto_brand__daewoo {
    background-position:-1200px 0;
}

.m-auto_brand__daihatsu {
    background-position:-1275px 0;
}

.m-auto_brand__dodge {
    background-position:-1350px 0;
}

.m-auto_brand__ferrari {
    background-position:-1425px 0;
}

.m-auto_brand__fiat {
    background-position:-1500px 0;
}

.m-auto_brand__ford {
    background-position:-1575px 0;
}

.m-auto_brand__gaz {
    background-position:-1650px 0;
}

.m-auto_brand__geely {
    background-position:-1725px 0;
}

.m-auto_brand__great_wall {
    background-position:-1800px 0;
}

.m-auto_brand__honda {
    background-position:-1874px 0;
}

.m-auto_brand__hummer {
    background-position:-1950px 0;
}

.m-auto_brand__hyundai {
    background-position:-2025px 0;
}

.m-auto_brand__infiniti {
    background-position:-2100px 0;
}

.m-auto_brand__isuzu {
    background-position:-2175px 0;
}

.m-auto_brand__jaguar {
    background-position:-2250px 0;
}

.m-auto_brand__jeep {
    background-position:-2325px 0;
}

.m-auto_brand__kia {
    background-position:-2400px 0;
}

.m-auto_brand__lada {
    background-position:-2475px 0;
}

.m-auto_brand__lamborghini {
    background-position:-2550px 0;
}

.m-auto_brand__lancia {
    background-position:-2625px 0;
}

.m-auto_brand__land_rover {
    background-position:-2700px 0;
}

.m-auto_brand__lexus {
    background-position:-2775px 0;
}

.m-auto_brand__lifan {
    background-position:-2850px 0;
}

.m-auto_brand__lincoln {
    background-position:-2925px 0;
}

.m-auto_brand__lotus {
    background-position:-3000px 0;
}

.m-auto_brand__maybach {
    background-position:-3075px 0;
}

.m-auto_brand__mazda {
    background-position:-3152px 0;
}

.m-auto_brand__maserati {
    background-position:-3223px 0;
}

.m-auto_brand__mercedes-benz {
    background-position:-3300px 0;
}

.m-auto_brand__mg {
    background-position:-3375px 0;
}

.m-auto_brand__mini {
    background-position:-3450px 0;
}

.m-auto_brand__mitsubishi {
    background-position:-3525px 0;
}

.m-auto_brand__morgan {
    background-position:-3600px 0;
}

.m-auto_brand__nissan {
    background-position:-3675px 0;
}

.m-auto_brand__opel {
    background-position:-3750px 0;
}

.m-auto_brand__peugeot {
    background-position:-3825px 0;
}

.m-auto_brand__porsche {
    background-position:-3900px 0;
}

.m-auto_brand__proton {
    background-position:-3975px 0;
}

.m-auto_brand__renault {
    background-position:-4050px 0;
}

.m-auto_brand__rolls-royce {
    background-position:-4125px 0;
}

.m-auto_brand__saab {
    background-position:-4200px 0;
}

.m-auto_brand__seat {
    background-position:-4275px 0;
}

.m-auto_brand__skoda {
    background-position:-4350px 0;
}

.m-auto_brand__smart {
    background-position:-4425px 0;
}

.m-auto_brand__ssangyong {
    background-position:-4500px 0;
}

.m-auto_brand__subaru {
    background-position:-4575px 0;
}

.m-auto_brand__suzuki {
    background-position:-4650px 0;
}

.m-auto_brand__tagaz {
    background-position:-4725px 0;
}

.m-auto_brand__tata {
    background-position:-4875px 0;
}

.m-auto_brand__toyota {
    background-position:-4806px 0;
}

.m-auto_brand__tvr {
    background-position:-4950px 0;
}

.m-auto_brand__uaz {
    background-position:-5025px 0;
}

.m-auto_brand__volkswagen {
    background-position:-5100px 0;
}

.m-auto_brand__volvo {
    background-position:-5175px 0;
}

.m-auto_brand__zaz {background-position:-5250px 0;}
.m-auto_brand__mclaren {background-position:-5475px 0;}
.m-auto_brand__spada {background-position:-5394px 0;}
.m-auto_brand__fisker {background-position:-5320px 0;}
.m-auto_brand__pagani {background-position:-5553px 0;}