
.icon-basket:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-user-add:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-plus:before { content: '\e807'; } /* '' */
.icon-minus:before { content: '\e808'; } /* '' */
.icon-key:before { content: '\e809'; } /* '' */
.icon-left-open:before { content: '\e80a'; } /* '' */
.icon-right-open:before { content: '\e80b'; } /* '' */
.icon-down-open:before { content: '\e80c'; } /* '' */
.icon-up-open:before { content: '\e80d'; } /* '' */
.icon-facebook-rect:before { content: '\e80e'; } /* '' */
.icon-tumblr-rect:before { content: '\e80f'; } /* '' */
.icon-vkontakte-rect:before { content: '\e810'; } /* '' */
.icon-odnoklassniki-rect:before { content: '\e811'; } /* '' */
.icon-clock:before { content: '\e812'; } /* '' */
.icon-location:before { content: '\e813'; } /* '' */
.icon-edit:before { content: '\e814'; } /* '' */
.icon-camera:before { content: '\e815'; } /* '' */
.icon-truck:before { content: '\e816'; } /* '' */
.icon-circle-empty:before { content: '\e817'; } /* '' */
.icon-circle:before { content: '\e818'; } /* '' */
.icon-money:before { content: '\e819'; } /* '' */
.icon-apple:before { content: '\e81a'; } /* '' */
.icon-android-1:before { content: '\e81b'; } /* '' */
.icon-help-circled:before { content: '\e81c'; } /* '' */
.icon-info-circled:before { content: '\e81d'; } /* '' */
.icon-icq:before { content: '\e81e'; } /* '' */
.icon-skype:before { content: '\e81f'; } /* '' */
.icon-mail:before { content: '\e820'; } /* '' */
.icon-spin5:before { content: '\e821'; } /* '' */
.icon-spin4:before { content: '\e822'; } /* '' */
.icon-spin6:before { content: '\e823'; } /* '' */
.icon-spin2:before { content: '\e824'; } /* '' */
.icon-spin1:before { content: '\e825'; } /* '' */
.icon-spin3:before { content: '\e826'; } /* '' */