@font-face {
  font-family: 'icons';
  src: url('font/icons.eot?6115223');
  src: url('font/icons.eot?6115223#iefix') format('embedded-opentype'),
       url('font/icons.woff?6115223') format('woff'),
       url('font/icons.ttf?6115223') format('truetype'),
       url('font/icons.svg?6115223#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?6115223#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-basket:before { content: '\e800'; }
.icon-user:before { content: '\e801'; }
.icon-user-add:before { content: '\e802'; }
.icon-ok:before { content: '\e803'; }
.icon-search:before { content: '\e804'; }
.icon-phone:before { content: '\e805'; }
.icon-cancel:before { content: '\e806'; }
.icon-plus:before { content: '\e807'; }
.icon-minus:before { content: '\e808'; }
.icon-key:before { content: '\e809'; }
.icon-left-open:before { content: '\e80a'; }
.icon-right-open:before { content: '\e80b'; }
.icon-down-open:before { content: '\e80c'; }
.icon-up-open:before { content: '\e80d'; }
.icon-facebook-rect:before { content: '\e80e'; } 
.icon-tumblr-rect:before { content: '\e80f'; } 
.icon-vkontakte-rect:before { content: '\e810'; } 
.icon-odnoklassniki-rect:before { content: '\e811'; } 
.icon-clock:before { content: '\e812'; } 
.icon-location:before { content: '\e813'; }
.icon-edit:before { content: '\e814'; } 
.icon-camera:before { content: '\e815'; } 
.icon-truck:before { content: '\e816'; } 
.icon-circle-empty:before { content: '\e817'; } 
.icon-circle:before { content: '\e818'; }
.icon-money:before { content: '\e819'; }
.icon-apple:before { content: '\e81a'; }
.icon-android-1:before { content: '\e81b'; }
.icon-help-circled:before { content: '\e81c'; }
.icon-info-circled:before { content: '\e81d'; }
.icon-icq:before { content: '\e81e'; }
.icon-skype:before { content: '\e81f'; }
.icon-mail:before { content: '\e820'; } 
.icon-spin5:before { content: '\e821'; }
.icon-spin4:before { content: '\e822'; }
.icon-spin6:before { content: '\e823'; }
.icon-spin2:before { content: '\e824'; }
.icon-spin1:before { content: '\e825'; }
.icon-spin3:before { content: '\e826'; }