.car{background-image:url(../images/cars-logos.png);background-repeat:no-repeat;display:block;width:30px;height:20px;}
.car-ac_cars{background-position:-1px -1px}
.car-acura{background-position:-1px -23px}
.car-alfa_romeo{background-position:-1px -45px}
.car-alpina{background-position:-1px -67px}
.car-aro{background-position:-1px -89px}
.car-asia{background-position:-1px -111px}
.car-aston_martin{background-position:-1px -133px}
.car-audi{background-position:-1px -155px}
.car-baw{background-position:-1px -177px}
.car-bentley{background-position:-1px -199px}
.car-bio_auto{background-position:-1px -221px}
.car-bmw{background-position:-1px -243px}
.car-bogdan{background-position:-1px -265px}
.car-brilliance{background-position:-1px -287px}
.car-bristol{background-position:-1px -309px}
.car-bugatti{background-position:-1px -331px}
.car-buick{background-position:-1px -353px}
.car-byd{background-position:-1px -375px}
.car-cadillac{background-position:-1px -397px}
.car-caterham{background-position:-1px -419px}
.car-chana{background-position:-1px -441px}
.car-changfeng{background-position:-1px -463px}
.car-chery{background-position:-1px -485px}
.car-chevrolet{background-position:-1px -507px}
.car-chrysler{background-position:-1px -529px}
.car-citroen{background-position:-1px -551px}
.car-cizeta{background-position:-1px -573px}
.car-dacia{background-position:-1px -595px}
.car-dadi{background-position:-1px -617px}
.car-daewoo{background-position:-1px -639px}
.car-daihatsu{background-position:-1px -661px}
.car-de_lorean{background-position:-1px -683px}
.car-de_tomaso{background-position:-1px -705px}
.car-derways{background-position:-1px -727px}
.car-dodge{background-position:-1px -749px}
.car-doninvest{background-position:-1px -771px}
.car-eagle{background-position:-1px -793px}
.car-faw{background-position:-1px -815px}
.car-ferrari{background-position:-1px -837px}
.car-fiat{background-position:-1px -859px}
.car-fisker{background-position:-1px -881px}
.car-ford{background-position:-1px -903px}
.car-fso{background-position:-1px -925px}
.car-gaz{background-position:-1px -947px}
.car-geely{background-position:-1px -969px}
.car-gmc{background-position:-1px -991px}
.car-great_wall{background-position:-1px -1013px}
.car-groz{background-position:-1px -1035px}
.car-hafei{background-position:-1px -1057px}
.car-haima{background-position:-1px -1079px}
.car-hindustan{background-position:-1px -1101px}
.car-holden{background-position:-1px -1123px}
.car-honda{background-position:-1px -1145px}
.car-hummer{background-position:-1px -1167px}
.car-hyundai{background-position:-1px -1189px}
.car-ikco{background-position:-1px -1211px}
.car-infiniti{background-position:-1px -1233px}
.car-isdera{background-position:-1px -1255px}
.car-isuzu{background-position:-1px -1277px}
.car-izh{background-position:-1px -1299px}
.car-jac{background-position:-1px -1321px}
.car-jaguar{background-position:-1px -1343px}
.car-jeep{background-position:-1px -1365px}
.car-jinbei{background-position:-1px -1387px}
.car-jmc{background-position:-1px -1409px}
.car-kia{background-position:-1px -1431px}
.car-koenigsegg{background-position:-1px -1453px}
.car-lamborghini{background-position:-1px -1475px}
.car-lancia{background-position:-1px -1497px}
.car-land_rover{background-position:-1px -1519px}
.car-landwind{background-position:-1px -1541px}
.car-ldv{background-position:-1px -1563px}
.car-lexus{background-position:-1px -1585px}
.car-lifan{background-position:-1px -1607px}
.car-lincoln{background-position:-1px -1629px}
.car-lotus{background-position:-1px -1651px}
.car-mahindra{background-position:-1px -1673px}
.car-maruti{background-position:-1px -1695px}
.car-maserati{background-position:-1px -1717px}
.car-maybach{background-position:-1px -1739px}
.car-mazda{background-position:-1px -1761px}
.car-mc_laren{background-position:-1px -1783px}
.car-mercedes_benz{background-position:-1px -1805px}
.car-mercury{background-position:-1px -1827px}
.car-mg{background-position:-1px -1849px}
.car-mini{background-position:-1px -1871px}
.car-mitsubishi{background-position:-1px -1893px}
.car-morgan{background-position:-1px -1915px}
.car-moskvich{background-position:-1px -1937px}
.car-nissan{background-position:-1px -1959px}
.car-noble{background-position:-1px -1981px}
.car-oldsmobile{background-position:-1px -2003px}
.car-opel{background-position:-1px -2025px}
.car-pagani{background-position:-1px -2047px}
.car-panoz{background-position:-1px -2069px}
.car-peugeot{background-position:-1px -2091px}
.car-plymouth{background-position:-1px -2113px}
.car-pontiac{background-position:-1px -2135px}
.car-porsche{background-position:-1px -2157px}
.car-proton{background-position:-1px -2179px}
.car-qvale{background-position:-1px -2201px}
.car-renault{background-position:-1px -2223px}
.car-roewe{background-position:-1px -2245px}
.car-rolls-royce{background-position:-1px -2267px}
.car-ronart{background-position:-1px -2289px}
.car-rover{background-position:-1px -2311px}
.car-saab{background-position:-1px -2333px}
.car-samsung{background-position:-1px -2355px}
.car-saturn{background-position:-1px -2377px}
.car-scion{background-position:-1px -2399px}
.car-seat{background-position:-1px -2421px}
.car-shuanghuan{background-position:-1px -2443px}
.car-skoda{background-position:-1px -2465px}
.car-smart{background-position:-1px -2487px}
.car-soueast{background-position:-1px -2509px}
.car-spyker{background-position:-1px -2531px}
.car-ssangyong{background-position:-1px -2553px}
.car-subaru{background-position:-1px -2575px}
.car-suzuki{background-position:-1px -2597px}
.car-tagaz{background-position:-1px -2619px}
.car-tata{background-position:-1px -2641px}
.car-tatra{background-position:-1px -2663px}
.car-tesla{background-position:-1px -2685px}
.car-tianma{background-position:-1px -2707px}
.car-tianye{background-position:-1px -2729px}
.car-tofas{background-position:-1px -2751px}
.car-toyota{background-position:-1px -2773px}
.car-trabant{background-position:-1px -2795px}
.car-tvr{background-position:-1px -2817px}
.car-vaz{background-position:-1px -2839px}
.car-lada{background-position:-1px -2839px}
.car-venturi{background-position:-1px -2861px}
.car-vis{background-position:-1px -2883px}
.car-vw{background-position:-1px -2905px}
.car-volvo{background-position:-1px -2927px}
.car-wartburg{background-position:-1px -2949px}
.car-xinkai{background-position:-1px -2971px}
.car-yaz{background-position:-1px -2993px}
.car-zaz{background-position:-1px -3015px}
.car-zil{background-position:-1px -3037px}
.car-zx{background-position:-1px -3059px}