@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic");

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

._left{float:left;}
._right{float:right;}
.clear{clear:both;}

.menu{border-bottom:1px solid #ddd;padding:10px;position:relative;}
.menu ul{margin:0;padding:0;}
.menu ul li{display:inline-block;margin:0;padding:5px 10px;}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header_main{margin:20px auto;width:70%;}
.logo{width:20%;float:left;}
.logo-descr{float:left;width:80%;vertical-align:middle;line-height:60px;font-size:26px;text-align:right;}
.main-block{width:100%;margin:0 auto;}
.red{color:#b50003;}

#search-by-article {width:100%;margin:0;padding:5px;clear:both;background:#f0f0f0;}

.field {
    float:left; 
    width:83%; 
    height:27px; 
    text-indent:10px; 
    font-family:arial, sans-serif; 
    font-size:22px; 
    color:#333; 
    background: #fff; 
    border:solid 1px #d9d9d9; 
    border-top:solid 1px #c0c0c0; 
    border-right:none;
    outline: none;
}

.field:focus, .field:focus + #delete{border-color:#3079ED;}

#delete {
    float:left; 
    width:16px;
    height:29px; 
    line-height:23px; 
    margin-right:5px; 
    padding:0 10px 0 10px;
    font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
    font-size:22px; 
    background: #fff;  
    border:solid 1px #d9d9d9; 
    border-top:solid 1px #c0c0c0; 
	border-left:none;
}

#delete #x {
    color:#A1B9ED; 
    cursor:pointer;
    display:none;
}

#delete #x:hover {
    color:#36c;
}

.findbutton {
    cursor:pointer; 
    width:10%; 
    height: 30px; 
    line-height:0; 
    font-size:0; 
    text-indent:-999px;
    color: transparent;  
    background: url("../images/search.png") no-repeat #4d90fe center; 
    border: 1px solid #3079ED; 
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
}

.findbutton:hover {
    background: url("../images/search.png") no-repeat center #357AE8; 
    border: 1px solid #2F5BB7;
}

.finddescr{font-size:12px;color:#464646;padding:5px 0 0 13px;}
.main-links{text-align:center;margin:20px 0 10px 0;}.main-links a{margin:0 5px;}

.brands,.brands2 {list-style:none;margin:20px 0;padding:0;}
.brands li{display:inline-block;width:19%;height:100px;line-height:100px;text-align:center;margin-bottom:15px;vertical-align:middle;position:relative;}
.brands li img{vertical-align:middle;}

.brands2 li {display:inline-block;width:24%; font-size:12px; height:20px; line-height:20px;vertical-align:middle;margin-bottom:15px;}
.brands2 li i{float:left;margin-right:10px;}

.find-form{width:80%;margin:20px auto;}
.find-form .item{margin-bottom:10px;}
.find-form .item label{width:20%;display:inline-block;}
.find-form .item select{display: inline-block; width:60%; border-radius: 3px; border: 1px solid #b6bcc1; height: 31px; padding: 4px; margin-left: 20px; margin-bottom: 12px;}

.footer{width:100%;margin:20px 0; padding: 20px 10px;border-top:3px solid #ddd;}
.footer .bottom-menu{float:left;width:60%;}
.footer .counters{float:right;width:40%;text-align:right;}
.mar20{margin:30px 0 40px 0;}
.mar20-2{margin:60px 0 40px 0;}
.under{text-decoration:underline;}

/* from atr.by */

.trucks-img{padding-right:15px;}
.trucks-img img{max-width:25%;margin:0 30px 10px 0;float:left;}

.left-sidebar{width:40%;height:100%;float:left;}
.right-sidebar{width:58%;float:right;padding-right:20px;}
.underline{text-decoration:underline;}
.underline:hover{text-decoration:none;}
.tire a{display:inline-block;width:10%;margin:0 11px 10px 0;}
.filter{border:1px solid #ABD4CF;border-top:2px solid #6BBFB6;padding:5px 20px 10px 20px;margin:0 10px;width:280px;}
.filter .block label,.filter .block div,.filter .block select{display:inline-block;}
.filter .block label{width:22%;}

.season-type-1, .season-type-2, .season-type-3 { width: 25px; height: 25px; }
.season-type-1 { background: url(../images/tires/ss.png); }
.season-type-2 { background: url(../images/tires/sun.png) repeat-x; }
.season-type-3 { background: url(../images/tires/sneg.png) repeat-x; }

.tablesorter.border td{border-bottom:1px solid #ddd;}
.thumb{display:inline-block;width:90px;height:60px;border:1px solid #ddd;margin:5px 5px 0 0;overflow:hidden;}
.thumb img{max-height:60px;}

.brands-list{list-style:none;margin:0;padding:0 0 0 25px;border-right:1px solid #ddd;}
.brands-list li{margin:0;padding:5px 10px;}
.brands-list li:hover{background:#f0f0f0;}