.menu_container{
	width:100%;
	height:77px;
	margin:10px auto 0 auto;
	background:#fff;
	overflow:hidden;
	-webkit-box-shadow:0 0 7px #888;
	-moz-box-shadow:0 0 7px #888;
	box-shadow:0 0 7px #888;
}

.menu{
	height:41px;
	/*background:#ac0403;*/
	background: -moz-linear-gradient(top, #7d7d7d, #454545);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7d7d7d), to(#454545));	
}

.menu ul{
	width:100%;
	list-style: none;
    list-style-image: none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}


.menu ul li{
	float:left;
}

.menu ul li a{
	display:block;
	height:41px;
	padding:0 20px;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	line-height:41px;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-ms-transition:all .2s linear;
	-o-transition:all .2s linear;
	transition:all .2s linear;
}

.menu ul li:hover a,
.menu ul li a.selected{
	background:#fff;
	color:#000;
}

.menu ul li a:active{
	color:#ccc;
}

.menu ul:hover li a.selected{
	background:#f0f0f0;
	color:#777;
}

.menu ul li:hover a.selected{
	background:#fff;
	color:#000;
}

.menu ul li a:active.selected{
	color:#ccc;
}

.menu ul ul{
	width:100%;
	height:36px;
	position:absolute;
	left:0;
	margin-left:8%;
	filter:alpha(opacity=0);
	opacity:0;
	background:#fff;
	-webkit-transition:all .4s ease-out .1s;
	-moz-transition:all .4s ease-out .1s;
	-ms-transition:all .4s ease-out .1s;
	-o-transition:all .4s ease-out .1s;
	transition:all .4s ease-out .1s;
}
.menu ul ul.visible{
	z-index:1;
	margin-left:0;
	filter:alpha(opacity=100);
	opacity:1;
}
.menu ul:hover ul.visible{
	margin-left:0;
	filter:alpha(opacity=100);
	opacity:1;
}
.menu ul li:hover ul.visible{
	margin-left:0;
	filter:alpha(opacity=100);
	opacity:1;
}
.menu ul li:hover ul{
	z-index:2;
	margin-left:0;
	filter:alpha(opacity=100);
	opacity:1;
}

.menu ul ul li a{
	height:36px;
	padding:0 20px;
	font-size:14px;
	font-weight:bold;
	color:#000;
	/*text-transform:capitalize;*/
	line-height:40px;
	-webkit-transition:color .3s ease-in-out;
	-moz-transition:color .3s ease-in-out;
	-ms-transition:color .3s ease-in-out;
	-o-transition:color .3s ease-in-out;
	transition:color .3s ease-in-out;
}
.menu ul ul li:hover a{
	color:#333;
	text-shadow:1px 1px 5px #888;
}
.menu ul ul li a:active{
	color:#666;
}
.search{
	margin:3px 8px 0 0;
	float:right;
	border:solid 1px #555;
}
.search_field{
	width:160px;
	height:20px;
	padding:6px 4px;
	float:left;
	color:#666;
	font-size:13px;
	line-height:20px;
	background:#333;
	-webkit-transition:color .2s linear;
	-moz-transition:color .2s linear;
	-ms-transition:color .2s linear;
	-o-transition:color .2s linear;
	transition:color .2s linear
}

.search_field:focus{
	color:#999;
}

.button{
	width:28px;
	height:28px;
	float:left;
	background:#333 url(../images/search_icon.png) 0 3px;
}