select {
    border: 1px solid #b6bcc1;
    border-radius: 3px;
    display: block;
    height: 31px;
    margin-bottom: 12px;
    margin-left: 20px;
    padding: 4px;
}

.main_atb, .filter {
	font-size: 13px;
}

.main_seo_links  a {
	font-size: 16px;
}

.main_atb a, .main_atb .blue {
    color: #3b7bc4;
    text-decoration: none;
}

.underline {
    text-decoration: underline !important;
}
.font-18 {
    font-size: 18px !important;
}
.black {
    color: #000 !important;
}

.margin_bottom_20 {
    margin-bottom: 20px;
}

h1 {
    color: #b60000;
    font-size: 28px;
    font-weight: normal;
    margin: 0 30px;
    padding-bottom: 0;
}

.path{text-align:left;margin:10px 0 30px 30px;color:#8C8C8C;}
.path a{color:#3f3f3f;}
.path a:hover{text-decoration:none;color:#3B7BC4;}

.tabs,.tabs2 {width:100%; overflow:hidden; margin:0; *zoom:1; padding:1px ;position:relative;}
.tabs dt {float:left; line-height:2; height:2em; background:#f0f0f0; border:1px solid #ccc; border-bottom:0; padding:0 1em; position:relative; left:20px; margin-right:3px; cursor:pointer; border-top-left-radius:3px; border-top-right-radius:3px;}
.tabs dt:hover {background-color:#ccc;}
.tabs dt.selected {border-color:#aaa; background:#fff; z-index:3; cursor:auto;}
.tabs dd {background:#fff; display:none; float:right; width:100%; margin:2em 0 0 -100%; position:relative; z-index:2;}
.tabs dd.selected {display:block;}
.tabs .tab-content {background:#fff; border-top:1px solid #ccc; padding:20px 20px 10px 20px;}

.tabs2{border-top:2px solid #000;padding:0;}
.tabs2 dt {float:left; line-height:2; height:2em; padding:0 1em; position:relative; margin-right:5px; cursor:pointer;}
.tabs2 dt:hover,.tabs2 dt.selected {
	background:#b60000;
	background: -moz-linear-gradient(top, #f00000, #b60000);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f00000), to(#b60000));
	color:#fff;
	z-index:3; cursor:pointer;}
.tabs2 dd {background:#fff; display:none; float:right; width:100%; margin:2em 0 0 -100%; position:relative; z-index:2;}
.tabs2 dd.selected {display:block;}
.tabs2 .tab-content {background:#fff; padding:20px 0 20px 0;font-size:12px;}


.ct_count {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-right: 5px;
    padding: 4px;
    width: 40px;
}

.pages{margin:20px 0;}
.pages a, .pages span{display:inline-block;margin-bottom:2px;padding:2px 10px;background:#ddd;color:#000;border-radius:3px;}
.pages a:hover, .pages .active{background:#b60000;color:#fff;}


.detail-img{display:block;width:150px;height:100px;vertical-align:middle;background:#fff;text-align:center;float:left;overflow:hidden;border:1px solid #ddd;}
.detail-img-big{display:block;width:200px;height:150px;vertical-align:middle;background:#fff;text-align:center;float:left;margin-right:20px;overflow:hidden;border:1px solid #ddd;}
.detail-descr{line-height:2em;font-size:14px;}
.ct_count{width:40px;border:1px solid #ddd; border-radius: 3px;padding:4px;margin-right:5px;}

.tbody__table {margin-bottom:40px;}
.tbody__table td{font-size: 14px;padding:7px;}
.tbody__table tr.odd td{background:#f2f2f2;}
.tbody__table tr:nth-child(2n+1){background: #fff;}
.tbody__table tr:nth-child(2n){background: #f2f2f2;} 


.w60{width:60px;}.w100{width:100px;}.h70{height:70px;}
.font-14{font-size:14px;}
.font-16{font-size:16px;}
.font-18{font-size:18px;}
.font-30{font-size:30px;}

.b{font-weight:bold;}.green{color:green;}.gray{color:#646464;}.orange{color:orange;}.black{color:#000;}
.small {font-size:10px!important;}

.tablesorter tr:hover td{background:#e6efee!important;cursor:hand;cursor:pointer;}

#topvk nobr{opacity:0.4;height:14px;padding:0px 20px;margin:0 31px 0 15px;font-weight:bold;font-family:tahoma,arial,verdana,sans-serif,Lucida Sans;font-size:11px;color:#45688e;background:url(../images/vk_up_back.gif) no-repeat left 3px;-webkit-transition-property:opacity;-webkit-transition-duration:200ms;-moz-transition-property:opacity;-moz-transition-duration:200ms;}
#topvk:hover nobr{opacity:1;height:14px;padding:0px 20px;margin:0 31px 0 15px;font-weight:bold;font-family:tahoma,arial,verdana,sans-serif,Lucida Sans;font-size:11px;color:#45688e;background:url(../images/vk_up_back.gif) no-repeat left 3px;}
.back{background:url(../images/vk_up_back.gif) no-repeat left -22px!important;}
#topvk{top:0px;left:0px;padding:13px 0 13px;cursor:pointer;display:none;width:100px;height:100%;position:fixed;cursor:pointer;-webkit-transition-property:background;-webkit-transition-duration:200ms;-moz-transition-property:background;-moz-transition-duration:200ms;}
#topvk:hover{background:#e1e7ed;}
.bottom-menu{margin:20px 0;}.bottom-menu a{color:#000!important;}.bottom-menu a:hover{color:#b60000!important;}

.table{margin:0 10px;}
.mtable{margin:0 30px!important;}
.table table th{
	background:#373737;padding:10px;font-size:14px;color:#fff;border-left:1px solid #646464;border-right:1px solid #2b2b2b;text-align:center;
	background: -moz-linear-gradient(top, #707070, #373737);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#707070), to(#373737));
}
.table table th.th{
	background:none;
	border:none;
	border-bottom:2px solid #000;
	color:#000;
}
.table tr.total{font-size:18px;font-weight:bold;background:#ddd!important;}
.table tr.total td span{font-size:14px;font-weight:normal;}

.table td{text-align:left;cursor:hand;cursor:pointer;border-bottom:1px solid #ddd;}
.table td sup{font-size:8px;}
.first-level td{background:#ddd;border-bottom:1px solid #fff;padding-left:10px;}
.first-level td:hover,.sub-menu li:hover,.sub-menu li:hover small,.sub-menu-2 li:hover{background:#b60000;color:#fff;
	background: -moz-linear-gradient(top, #f00000, #b60000);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f00000), to(#b60000));
}
tr.second-level:hover td{background-color:#FCE6E6!important;
	background: -moz-linear-gradient(top, #FCE6E6, #ffc4c4);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FCE6E6), to(#ffc4c4));
}

.hide {display: none;}