@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300&subset=latin,cyrillic);
.header:after,
.header__main:after,
.region-curency:after,
.bottom__wrap:after,
.fsearch:after,
.fsearch__main:after,
.footer:after {
    content: "";
    display: table;
    clear: both
}
.ie7 .header,
.ie7 .header__main,
.ie7 .region-curency,
.ie7 .bottom__wrap,
.ie7 .fsearch,
.ie7 .fsearch__main,
.ie7 .footer {
    zoom: 1
}
.header__search input[type="submit"],
.wheel__form-button,
.oil__form-button,
.battery__form-button,
.starters__form-button,
.fsearch__search input[type="submit"],
.header__nav-item,
.drop-region,
.drop-currency,
.region,
.currency,
.tabs__header-item,
.logos__item,
.moto__list,
.truck__item,
.wheel__form-left,
.wheel__form-right,
.wheel__form-cell,
.oil__form-left,
.oil__form-right,
.oil__form-row .col-50,
.oil__form-cell,
.battery__form-left,
.battery__form-right,
.battery__form-row .col-50,
.battery__form-cell,
.starters__form-left,
.starters__form-right,
.starters__form-row .col-50,
.starters__form-cell,
.bottom__grid-50,
.bottom__grid-30,
.bottom__grid-70,
.counter__item,
.fsearch__nav-item,
.footer__sochial li {
    display: inline-block
}
.ie7 .header__search input[type="submit"],
.header__search .ie7 input[type="submit"],
.ie7 .wheel__form-button,
.ie7 .oil__form-button,
.ie7 .battery__form-button,
.ie7 .starters__form-button,
.ie7 .fsearch__search input[type="submit"],
.fsearch__search .ie7 input[type="submit"],
.ie7 .header__nav-item,
.ie7 .drop-region,
.ie7 .drop-currency,
.ie7 .region,
.ie7 .currency,
.ie7 .tabs__header-item,
.ie7 .logos__item,
.ie7 .moto__list,
.ie7 .truck__item,
.ie7 .wheel__form-left,
.ie7 .wheel__form-right,
.ie7 .wheel__form-cell,
.ie7 .oil__form-left,
.ie7 .oil__form-right,
.ie7 .oil__form-row .col-50,
.oil__form-row .ie7 .col-50,
.ie7 .oil__form-cell,
.ie7 .battery__form-left,
.ie7 .battery__form-right,
.ie7 .battery__form-row .col-50,
.battery__form-row .ie7 .col-50,
.ie7 .battery__form-cell,
.ie7 .starters__form-left,
.ie7 .starters__form-right,
.ie7 .starters__form-row .col-50,
.starters__form-row .ie7 .col-50,
.ie7 .starters__form-cell,
.ie7 .bottom__grid-50,
.ie7 .bottom__grid-30,
.ie7 .bottom__grid-70,
.ie7 .counter__item,
.ie7 .fsearch__nav-item,
.ie7 .footer__sochial li,
.footer__sochial .ie7 li {
    display: inline;
    zoom: 1
}
select,
main,
.header__search input[type='text'],
.drop-search,
.drop-region__item,
.drop-currency__item,
.regiog__select,
.currency__select,
.truck__item,
.wheel__form-left,
.wheel__form-right,
.fieldset__title,
.oil__form-left,
.oil__form-right,
.battery__form-left,
.battery__form-right,
.starters__form-left,
.starters__form-right,
.bottom__wrap,
.fsearch__wrap,
.fsearch__search input[type='text'],
.footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.header__search input[type="submit"],
.wheel__form-button,
.oil__form-button,
.battery__form-button,
.starters__form-button,
.fsearch__search input[type="submit"] {
    cursor: pointer !important;
    background: #ddd;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #ddd));
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #ddd 100%);
    background: -moz-linear-gradient(top, #f9f9f9 0%, #ddd 100%);
    background: linear-gradient(to bottom, #f9f9f9 0%, #ddd 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#ddd', GradientType=0);
    font-weight: 600;
    color: #666;
    border: none
}
.header__search input[type="submit"]:hover,
.wheel__form-button:hover,
.oil__form-button:hover,
.battery__form-button:hover,
.starters__form-button:hover,
.fsearch__search input[type="submit"]:hover {
    background: #f9f9f9;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(100%, #f9f9f9));
    background: -webkit-linear-gradient(top, #ddd 0%, #f9f9f9 100%);
    background: -moz-linear-gradient(top, #ddd 0%, #f9f9f9 100%);
    background: linear-gradient(to bottom, #ddd 0%, #f9f9f9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#f9f9f9', GradientType=0)
}
.wheel input[type="checkbox"]+label,
.oil input[type="checkbox"]+label,
.battery input[type="checkbox"]+label,
.starters input[type="checkbox"]+label,
.wheel input[type="radio"]+label,
.oil input[type="radio"]+label,
.battery input[type="radio"]+label,
.starters input[type="radio"]+label {
    cursor: pointer;
    margin-right: 20px
}
.wheel input[type="checkbox"]+label::before,
.oil input[type="checkbox"]+label::before,
.battery input[type="checkbox"]+label::before,
.starters input[type="checkbox"]+label::before,
.wheel input[type="radio"]+label::before,
.oil input[type="radio"]+label::before,
.battery input[type="radio"]+label::before,
.starters input[type="radio"]+label::before {
    content: "";
    display: inline-block;
    height: 17px;
    width: 17px;
    margin: 0 10px 0 0;
    background-image: url(../images/radio.png);
    background-repeat: no-repeat;
    vertical-align: sub
}
.wheel input[type="checkbox"]+label::before,
.oil input[type="checkbox"]+label::before,
.battery input[type="checkbox"]+label::before,
.starters input[type="checkbox"]+label::before {
    width: 17px;
    height: 17px
}
.wheel input[type="checkbox"]+label::before,
.oil input[type="checkbox"]+label::before,
.battery input[type="checkbox"]+label::before,
.starters input[type="checkbox"]+label::before {
    background-position: -23px -21px
}
.wheel input[type="radio"]+label::before,
.oil input[type="radio"]+label::before,
.battery input[type="radio"]+label::before,
.starters input[type="radio"]+label::before {
    background-position: -27px 0
}
.wheel input[type="checkbox"]:checked+label::before,
.oil input[type="checkbox"]:checked+label::before,
.battery input[type="checkbox"]:checked+label::before,
.starters input[type="checkbox"]:checked+label::before {
    background-position: -1px -21px
}
.wheel input[type="radio"]:checked+label::before,
.oil input[type="radio"]:checked+label::before,
.battery input[type="radio"]:checked+label::before,
.starters input[type="radio"]:checked+label::before {
    background-position: 0 0
}
.wheel input[type="checkbox"]:disabled+label::before,
.oil input[type="checkbox"]:disabled+label::before,
.battery input[type="checkbox"]:disabled+label::before,
.starters input[type="checkbox"]:disabled+label::before {
    background-position: -152px -260px
}
.wheel input[type="checkbox"]:checked:disabled+label::before,
.oil input[type="checkbox"]:checked:disabled+label::before,
.battery input[type="checkbox"]:checked:disabled+label::before,
.starters input[type="checkbox"]:checked:disabled+label::before {
    background-position: -171px -260px
}
.wheel input[type="radio"]:disabled+label::before,
.oil input[type="radio"]:disabled+label::before,
.battery input[type="radio"]:disabled+label::before,
.starters input[type="radio"]:disabled+label::before {
    background-position: -144px -279px
}
.wheel input[type="radio"]:checked:disabled+label::before,
.oil input[type="radio"]:checked:disabled+label::before,
.battery input[type="radio"]:checked:disabled+label::before,
.starters input[type="radio"]:checked:disabled+label::before {
    background-position: -162px -279px
}
select {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #c2c2c2;
    height: 40px;
    margin: 0;
    padding: 11px 6px 9px 10px;
    width: 100%;
    color: #666;
    font-size: 12px;
    line-height: 19px;
    background: #fff url("../images/select.png") 96% 60% no-repeat;
    cursor: pointer
}
option {
    padding: 5px 0;
    width: 100%
}
body {
    box-sizing: border-box;
    min-width: 1024px;
    color: #333;
    font: 300 14px/1.75"Open Sans", Arial, Helvetica, sans-serif
}
@media only screen and (max-width: 47.99em) {
    body {
        min-width: 640px
    }
}
a,
.tabs__header-item span {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border-bottom: 1px solid rgba(8, 113, 195, 0.7);
    color: #0871c3;
    font-weight: 400;
    text-decoration: none
}
a:hover,
.tabs__header-item span:hover {
    border-bottom-color: rgba(0, 0, 0, 0.7);
    color: #000
}
.header__logo a,
.header__logo .tabs__header-item span,
.tabs__header-item .header__logo span {
    border: none
}
.header__logo a:hover,
.header__logo .tabs__header-item span:hover,
.tabs__header-item .header__logo span:hover {
    border: none
}
p:last-child {
    margin-bottom: 0
}
button,
input[type="submit"],
input[type="reset"] {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: default
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    font-weight: 800
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
figure {
    padding: 0;
    margin: 0 0 .7em
}
table {
    width: 100%
}
th {
    text-align: left
}
h1 {
    font-size: 2.81em
}
h2 {
    font-size: 1.56em;
    line-height: 1.5
}
h3 {
    font-size: 1.25em
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0
}
fieldset {
    padding: 0;
    margin: 0
}
main {
    min-width: 1240px;
    max-width: 1320px;
    padding: 0 20px;
    margin: auto;
    min-height: 100%;
    margin-bottom: -103px
}
main:after {
    content: '';
    height: 103px;
    display: table;
    clear: both
}
.left,
.bottom__left {
    float: left;
    width: 48%
}
.right,
.bottom__right {
    float: right;
    width: 48%
}
select.select__small {
    background-position: 90% 60%
}
.ico {
    position: relative;
    padding-left: 60px;
    box-sizing: content-box
}
.ico:before {
    content: '';
    background: url(../images/icons.png) 0 0 no-repeat;
    width: 49px;
    height: 36px;
    position: absolute;
    left: 0
}
.ico.ico_car {
    padding-left: 40px
}
.ico.ico_car:before {
    top: 5px
}
.ico.ico_moto {
    padding-left: 50px
}
.ico.ico_moto:before {
    top: 5px;
    background-position: 0 -63px
}
.ico.ico_truck {
    padding-left: 55px
}
.ico.ico_truck:before {
    top: 5px;
    background-position: 0 -127px
}
.ico.ico_wheel {
    padding-left: 50px
}
.ico.ico_wheel:before {
    top: 5px;
    background-position: 0 -199px
}
.ico.ico_oil {
    padding-left: 35px
}
.ico.ico_oil:before {
    top: 5px;
    background-position: 0 -267px
}
.ico.ico_battery {
    padding-left: 35px
}
.ico.ico_battery:before {
    top: 5px;
    background-position: 0 -324px
}
.ico.ico_starters {
    padding-left: 35px
}
.ico.ico_starters:before {
    top: 5px;
    background-position: 0 -324px
}
.header__login {
    float: right
}
.header__login a,
.header__login .tabs__header-item span,
.tabs__header-item .header__login span {
    color: #b30000;
    border: none;
    padding-left: 30px;
    background: url(../images/header/login-key.png) 0 3px no-repeat
}
.header__login span {
    border-bottom: 1px solid #b30000
}
.header__nav-list {
    margin-left: 165px;
    margin-bottom: 6px
}
.header__nav-item {
    margin-left: 25px
}
.header__nav-item:first-child {
    margin-left: 0
}
.header__logo {
    float: left;
    width: 130px
}
.header__search {
    margin-left: 165px
}
.header__search form {
    width: 100%;
    position: relative
}
.header__search input[type='text'] {
    width: 100%;
    padding-right: 110px;
    padding-left: 10px;
    margin-top: 10px;
    height: 40px;
    border: 1px solid #4d97d0;
    -webkit-box-shadow: 0px 0px 0px 5px rgba(199, 237, 252, 0.75);
    -moz-box-shadow: 0px 0px 0px 5px rgba(199, 237, 252, 0.75);
    box-shadow: 0px 0px 0px 5px rgba(199, 237, 252, 0.75)
}
.header__search input[type="submit"] {
    position: absolute;
    top: 11px;
    right: 1px;
    height: 38px;
    width: 100px
}
.drop-search {
    display: block;
    font-size: 16px;
    margin: 0 20px 10px;
    background: transparent;
    border: none
}
.drop-region,
.drop-currency {
    width: 100%;
    max-height: 200px;
    overflow: auto
}
.drop-region__item,
.drop-currency__item {
    cursor: pointer;
    list-style: none;
    border-bottom: 1px solid #ecf0f1;
    padding: 5px 20px;
    width: 100%
}
.drop-region__item:hover,
.drop-currency__item:hover {
    background: #c7edfc;
    border-color: transparent
}
.region-curency {
    text-align: right;
    margin-right: 100px
}
.region {
    position: relative;
    text-align: left
}
.regiog__select,
.currency__select {
    position: absolute;
    top: 38px;
    background: #fbfbfb;
    border: 1px solid #b4b4b4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 0 0;
    z-index: 999;
    -webkit-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.2)
}
.regiog__select:before,
.currency__select:before {
    content: '';
    position: absolute;
    top: -11px;
    left: 70px;
    z-index: 9999;
    width: 18px;
    height: 12px;
    background: url(../images/drop-corner.png) 0 0 no-repeat
}
.currency {
    margin-left: 20px;
    position: relative
}
.drop__name {
    font-size: 12px;
    color: #999
}
.drop__region-title {
    line-height: 14px
}
.currency__select {
    left: 30px;
    padding-bottom: 0
}
.currency__select:before {
    left: 26px
}
.tabs {
    margin-bottom: 30px
}
.tabs__header-item {
    margin-left: 30px;
    padding: 8px 13px;
    cursor: pointer;
    position: relative
}
.tabs__header-item:first-child {
    margin-left: 0
}
.tabs__header-item span {
    cursor: pointer
}
.tabs__header-item.active {
    cursor: default;
    background: #f0f3f4;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f3f4), color-stop(100%, #f0f3f4));
    background: -webkit-linear-gradient(top, #f0f3f4 0%, #f0f3f4 100%);
    background: -moz-linear-gradient(top, #f0f3f4 0%, #f0f3f4 100%);
    background: linear-gradient(to bottom, #f0f3f4 0%, #f0f3f4 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f0f3f4', endColorstr='#f0f3f4', GradientType=0)
}
.tabs__header-item.active span {
    color: #333;
    border: none;
    cursor: default
}
.tabs__header-item.active:before {
    content: '';
    position: absolute;
    left: -28px;
    top: 0;
    width: 28px;
    height: 40px;
    background: url(../images/tabs/corner.png) 0 0 no-repeat
}
.tabs__header-item.active:after {
    content: '';
    position: absolute;
    right: -28px;
    top: 0;
    width: 28px;
    height: 40px;
    background: url(../images/tabs/corner.png) 100% 0 no-repeat
}
.tabs__header {
    margin-left: 40px
}
.tabs__body {
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f3f4), color-stop(100%, #fff));
    background: -webkit-linear-gradient(top, #f0f3f4 0%, #fff 100%);
    background: -moz-linear-gradient(top, #f0f3f4 0%, #fff 100%);
    background: linear-gradient(to bottom, #f0f3f4 0%, #fff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f0f3f4', endColorstr='#fff', GradientType=0);
    padding: 10px 5px
}
.logos {
    list-style: none;
    font-size: 0;
    line-height: 0
}
.logos__item {
    width: 14%;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
    text-align: center;
    vertical-align: top
}
.logos__item img {
    vertical-align: middle;
    max-width: 55%
}
.logos__img-holder {
    height: 60px;
    line-height: 60px
}
.tabs__title {
    color: #0871c3;
    font-size: 1.85em;
    font-weight: 400
}
.moto {
    font-size: 1px;
    line-height: 0;
    text-align: justify
}
.moto:after {
    display: inline-block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
    content: ''
}
.moto__list {
    width: 16%;
    list-style: none;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    position: relative
}
.moto__list:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.01)), color-stop(100%, rgba(255, 255, 255, 0.8)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.8) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.8) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.8) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#03ffffff', endColorstr='#ccffffff', GradientType=0)
}
.moto__list:hover:after {
    display: none
}
.moto__title {
    font-size: 18px;
    margin-bottom: 5px
}
.moto__header {
    color: #0871c3;
    font-size: 1.85em;
    font-weight: 400
}
.moto-wrapper {
    margin-bottom: 30px
}
.truck {
    margin-bottom: 30px
}
.truck__header {
    color: #0871c3;
    font-size: 1.85em;
    font-weight: 400
}
.truck__list {
    margin-left: -3%
}
.truck__item {
    background: rgba(254, 254, 254, 0.7);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238, 238, 238, 0.7)), color-stop(100%, rgba(254, 254, 254, 0.7)));
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 0.7) 0%, rgba(254, 254, 254, 0.7) 100%);
    background: -moz-linear-gradient(top, rgba(238, 238, 238, 0.7) 0%, rgba(254, 254, 254, 0.7) 100%);
    background: linear-gradient(to bottom, rgba(238, 238, 238, 0.7) 0%, rgba(254, 254, 254, 0.7) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='rgba(238,238,238,0.7)', endColorstr='rgba(254,254,254,0.7)', GradientType=0);
    padding: 0 0 10px;
    list-style: none;
    width: 30%;
    margin-left: 3%;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #9b9b9b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}
.truck__item img {
    vertical-align: middle;
    max-width: 20%
}
.truck__img-holder {
    height: 60px;
    line-height: 60px
}
.about__title {
    color: #0871c3;
    font-size: 1.85em;
    font-weight: 400;
    margin: 0 0 10px
}
.about__text {
    margin: 0 0 10px
}
.about__el {
    margin: 0 0 20px
}
.wheel {
    margin-bottom: 30px
}
.wheel__title {
    color: #0871c3;
    font-size: 1.85em;
    font-weight: 400
}
.wheel__form-holder {
    background: #ecf0f1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    line-height: 0
}
.wheel__form-left,
.wheel__form-right {
    padding: 10px;
    vertical-align: top;
    width: 50%;
    font-size: 14px;
    line-height: 22px
}
.wheel__form-row {
    margin: 0 0 10px
}
.wheel__form-row._right {
    float: right
}
.wheel__form-button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 20px;
    border: 1px solid #c2c2c2;
    cursor: pointer
}
.wheel__form-cell {
    width: 30%;
    margin-left: 3%
}
.wheel__form-cell:first-child {
    margin-left: 0
}
.fieldset__title {
    float: left;
    width: 60%;
    text-align: right;
    padding-right: 10px
}
fieldset {
    border: none
}
.wheel__form-row fieldset {
    padding: 0;
    margin: 0 0 55px
}
.oil {
    margin-bottom: 30px
}
.oil__title {
    color: #0871c3;
    font-size: 1.85em;
    font-weight: 400
}
.oil__form-holder {
    background: #ecf0f1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    line-height: 0
}
.oil__form-left,
.oil__form-right {
    padding: 10px;
    vertical-align: top;
    width: 50%;
    font-size: 14px;
    line-height: 22px
}
.oil__form-row {
    margin: 0 0 10px
}
.oil__form-row._right {
    float: right
}
.oil__form-row .col-50 {
    width: 49%
}
.oil__form-button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 20px;
    border: 1px solid #c2c2c2;
    cursor: pointer
}
.oil__form-cell {
    width: 30%;
    margin-left: 3%
}
.oil__form-cell:first-child {
    margin-left: 0
}
.fieldset__title {
    float: left;
    width: 60%;
    text-align: right;
    padding-right: 10px
}
fieldset {
    border: none
}
.oil__form-row fieldset {
    padding: 0;
    margin: 0 0 55px
}
.battery {
    margin-bottom: 30px
}
.battery__title {
    color: #0871c3;
    font-size: 1.85em;
    font-weight: 400
}
.battery__form-holder {
    background: #ecf0f1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    line-height: 0
}
.battery__form-left,
.battery__form-right {
    padding: 10px;
    vertical-align: top;
    width: 50%;
    font-size: 14px;
    line-height: 22px
}
.battery__form-row {
    margin: 0 0 10px
}
.battery__form-row._right {
    float: right
}
.battery__form-row .col-50 {
    width: 49%
}
.battery__form-button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 20px;
    border: 1px solid #c2c2c2;
    cursor: pointer
}
.battery__form-cell {
    width: 30%;
    margin-left: 3%
}
.battery__form-cell:first-child {
    margin-left: 0
}
.fieldset__title {
    float: left;
    width: 60%;
    text-align: right;
    padding-right: 10px
}
fieldset {
    border: none
}
.battery__form-row fieldset {
    padding: 0;
    margin: 0 0 55px
}
.starters {
    margin-bottom: 30px
}
.starters__title {
    color: #0871c3;
    font-size: 1.85em;
    font-weight: 400
}
.starters__form-holder {
    background: #ecf0f1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0;
    line-height: 0
}
.starters__form-left,
.starters__form-right {
    padding: 10px;
    vertical-align: top;
    width: 50%;
    font-size: 14px;
    line-height: 22px
}
.starters__form-row {
    margin: 0 0 10px
}
.starters__form-row._right {
    float: right
}
.starters__form-row .col-50 {
    width: 49%
}
.starters__form-button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 20px;
    border: 1px solid #c2c2c2;
    cursor: pointer
}
.starters__form-cell {
    width: 30%;
    margin-left: 3%
}
.starters__form-cell:first-child {
    margin-left: 0
}
.fieldset__title {
    float: left;
    width: 60%;
    text-align: right;
    padding-right: 10px
}
fieldset {
    border: none
}
.starters__form-row fieldset {
    padding: 0;
    margin: 0 0 55px
}
.news__title {
    color: #0871c3;
    font-size: 1.85em;
    font-weight: 400;
    margin: 0 0 10px
}
.news__text {
    font-size: 13px
}
.news__el {
    margin: 0 0 20px
}
.news__img {
    float: left;
    margin-right: 10px;
    max-width: 240px
}
.news__img img {
    display: block;
    width: 100%
}
.news__content {
    overflow: hidden
}
.news__date {
    display: block;
    color: #999;
    font-size: 12px;
    line-height: 12px
}
.bottom {
    clear: both;
    margin-bottom: 20px
}
.bottom__wrap {
    background: #f2f2f2;
    padding: 30px
}
.bottom__left {
    font-size: 0;
    line-height: 0
}
.bottom__right {
    font-size: 0;
    line-height: 0
}
.bottom__grid-50,
.bottom__grid-30,
.bottom__grid-70 {
    vertical-align: middle;
    font-size: 14px;
    line-height: 22px
}
.bottom__grid-50 {
    width: 50%
}
.bottom__grid-70 {
    width: 70%
}
.bottom__grid-30 {
    width: 30%
}
.counter {
    text-align: center;
    margin-bottom: 5px
}
.counter__item {
    background: url(../images/counter-bg.png) 0 0 no-repeat;
    width: 26px;
    height: 46px;
    margin: 0px;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    line-height: 46px
}
.counter__text {
    text-align: center;
    color: #878787;
    font-size: 12px
}
.fsearch__wrap {
    padding: 30px;
    background: #898989
}
.fsearch__nav-list {
    margin-bottom: 10px
}
.fsearch__nav-item {
    margin-left: 20px
}
.fsearch__nav-item:first-child {
    margin-left: 0
}
.fsearch__nav-item a,
.fsearch__nav-item .tabs__header-item span,
.tabs__header-item .fsearch__nav-item span {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7)
}
.fsearch__search form {
    width: 100%;
    position: relative
}
.fsearch__search input[type='text'] {
    width: 100%;
    padding-right: 110px;
    padding-left: 10px;
    margin-top: 10px;
    height: 38px
}
.fsearch__search input[type="submit"] {
    position: absolute;
    top: 11px;
    right: 1px;
    height: 36px;
    width: 100px
}
.footer {
    min-width: 1240px;
    max-width: 1320px;
    padding: 20px;
    margin: auto
}
.footer__left {
    float: left;
    margin-right: 20px
}
.footer__right {
    float: right
}
.footer__center {
    overflow: hidden
}
.footer__center a,
.footer__center .tabs__header-item span,
.tabs__header-item .footer__center span {
    border: none
}
.footer__center a:hover,
.footer__center .tabs__header-item span:hover,
.tabs__header-item .footer__center span:hover {
    border: none
}
.footer__sochial li {
    width: 30px;
    height: 30px;
    background: url(../images/footer/sochial.png) 0 0 no-repeat
}
.footer__sochial li.sochial__ico_ok {
    background-position: -43px 0
}
.footer__sochial li.sochial__ico_fb {
    background-position: -87px 0
}
.footer__sochial li.sochial__ico_tw {
    background-position: -130px 0
}
.footer__sochial a,
.footer__sochial .tabs__header-item span,
.tabs__header-item .footer__sochial span {
    display: block;
    border: none;
    height: 100%
}
.footer__sochial a:hover,
.footer__sochial .tabs__header-item span:hover,
.tabs__header-item .footer__sochial span:hover {
    border: none
}
.footer__text {
    clear: both;
    font-size: 12px;
    color: #999
}

/*# sourceMappingURL=artloc.css.map */
