


.qgContainer {
    margin: 0;
    padding: 0;
}
.qgContainer li {
    list-style-type: none;
}
.qgNode {
    background-image: url("img/i.gif");
    background-position: left top;
    background-repeat: repeat-y;
    margin-left: 18px;
}
.qgIsRoot {
    margin-left: 0;
}
.qgIsLast {
    background-image: url("img/i_half.gif");
    background-repeat: no-repeat;
}
.qgExpandOpen .qgExpand {
    background-image: url("img/expand_minus.gif");
}
.qgExpandClosed .qgExpand {
    background-image: url("img/expand_plus.gif");
}
.qgExpandLeaf .qgExpand {
    background-image: url("img/expand_leaf.gif");
}
.qgContent {
    margin-left: 18px;
    min-height: 18px;
}
.qgContent {
    height: 18px;
}
.qgExpand {
    float: left;
    height: 18px;
    width: 18px;
}
.qgExpandLoading {
    background-image: url("img/expand_loading.gif");
    float: left;
    height: 18px;
    width: 18px;
}
.qgExpandOpen .qgContainer {
    display: block;
}
.qgExpandClosed .qgContainer {
    display: none;
}
.qgExpandOpen .qgExpand, .qgExpandClosed .qgExpand {
    cursor: pointer;
}
.qgExpandLeaf .qgExpand {
    cursor: auto;
}








#qgTree > .qgContainer > .qgNode {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
}
.qgExpandLeaf .qgExpand {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
}
#qgTree > .qgContainer > .qgExpandLeaf > .qgExpand {
    background: rgba(0, 0, 0, 0) url("img/dot.png") no-repeat scroll 0 0;
}
#qgTree > .qgContainer > .qgExpandLeaf:hover > .qgExpand {
    background-position: -16px 0;
}
.qgNode {
    background-repeat: repeat-y;
    margin-left: 0;
    padding: 5px 0 4px 18px;
}
#qgTree {
    margin-left: -17px;
}
.qgExpandClosed > .qgExpand {
    background: #fff url("img/icon-add-remove.png") no-repeat scroll 0 -34px;
    height: 17px;
    width: 17px;
}
.qgExpandOpen > .qgExpand {
    background: #fff url("img/icon-add-remove.png") no-repeat scroll -17px -34px;
    height: 17px;
    width: 17px;
}
.qgExpandOpen::before {
    background: rgba(0, 0, 0, 0) url("img/i.gif") repeat-y scroll 0 0;
    content: "";
    display: block;
    height: 44px;
    position: absolute;
    width: 17px;
    z-index: -1;
}
.qgNode.qgExpandClosed:hover > .qgExpand {
    background: #fff url("img/icon-add-remove.png") no-repeat scroll 0 -17px;
}
.qgContent {
    margin-bottom: 1px;
    margin-top: -1px;
    padding-left: 13px;
}
.qgNode .qgContent {
    height: auto;
}
.qgNode .qgContent:hover {
    color: #e85000;
    cursor: pointer;
}
.qgContainer {
    margin-top: 2px;
}
.qgIsLast {
    background: rgba(0, 0, 0, 0) url("img/last.png") no-repeat scroll 0 0;
}
.qgExpand {
    position: relative;
}
.qgExpand::before {
    background: rgba(0, 0, 0, 0) url("img/expand_leaf_line.gif") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 18px;
    left: -18px;
    position: absolute;
    top: -1px;
    width: 36px;
    z-index: -1;
}
.qgExpandLeaf.qgExpandClosed.qgExpandOpen::before, .qgExpandLeaf.qgExpandClosed.qgExpandOpen > .qgExpand {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
}
#qgTree > .qgContainer > .qgNode > .qgExpand::before {
    height: 0;
    width: 0;
}
.qgCurrent > .qgContent, .qgCurrent > .qgContent > a {
    color: #e85000;
}
.qgExpandLeaf > .qgExpand {
    background-position-x: 1px;
    background-repeat: no-repeat;
}








/*
.qgContainer {
    padding: 0;
    margin: 0;
	font-size: 17px;
}

.qgContainer li {
    list-style-type: none;
}

.qgNode {
    //background-image : url(img/i.gif);
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 18px;
	padding: 5px 0 4px 18px;
    zoom: 1;
}

.qgIsRoot {
    margin-left: 0;
}

.qgIsLast {
    background-image: url(img/i_half.gif);
    background-repeat : no-repeat;
}

.qgExpandOpen .qgExpand {
    //background-image: url(img/expand_minus.gif);
	background: #fff url("img/icon-add-remove.png") no-repeat scroll -17px -34px;
    height: 17px;
    width: 17px;
}

.qgExpandClosed .qgExpand {
    //background-image: url(img/expand_plus.gif);
	background: #fff url("img/icon-add-remove.png") no-repeat scroll 0 -34px;
    height: 17px;
    width: 17px;
}

.qgExpandLeaf .qgExpand {
    background-image: url(img/expand_leaf_line.gif);
	display: block;
    height: 18px;
    left: -18px;
    position: absolute;
    top: -1px;
    width: 36px;
    z-index: -1;
}

.qgContent {
    min-height: 18px;
    margin-left:18px;
	margin-bottom: 1px;
    margin-top: -1px;
    padding-left: 13px;
}

.qgContent {
    height: 18px;
}

.qgExpand {
    width: 18px;
    height: 18px;
    float: left;
}


.qgExpandLoading   {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(img/expand_loading.gif);
}

.qgExpandOpen .qgContainer {
	display: block;
}

.ggExpandOpen {
	background: rgba(0, 0, 0, 0) url("img/i.gif") repeat-y scroll 0 0;
    content: "";
    display: block;
    height: 44px;
    position: absolute;
    width: 17px;
    z-index: -1;
}

.qgExpandClosed .qgContainer {
	display: none;
}

.qgExpandOpen .qgExpand, .qgExpandClosed .qgExpand, .qgContent {
	cursor: pointer;
}
.qgExpandLeaf .qgExpand {
	cursor: auto;
}
*/


