#tree,#tree2{width:30%;float:left;border-right:1px solid #f0f0f0;position:relative;}
#tree ol,ul,dl {list-style:none;margin:0 0 0 15px;padding:0;}
#tree li {padding: 3px 0!important;background: url('../images/tree/line.gif') left repeat-y;}
#tree li a{display:inline-block;border:none;background: url('../images/tree/join.gif') left no-repeat;padding-left:20px;}
#tree li a:hover {text-decoration:none;color:#b60000;}

ins {text-decoration: none;}
del {text-decoration: line-through;}

.menuTree {text-decoration: none;}
#list2{margin:0;}
#list2 .menuTree {background: url('../images/tree/folder.gif') left no-repeat;padding-left:20px;/*content: "[+] ";*/}
#list2 .menuTree span{display:inline-block;}
/*#list2 .menuTree a {background: url('../images/tree/folder.gif') left no-repeat;padding-left:20px;}*/
#list2 .expanded {background: url('../images/tree/folderopen.gif') left no-repeat;padding-left:20px;/*:before {content: "[-] ";*/}
.collapsed {display: none;}

#trace {margin:0;overflow: auto;height: 440px;}
#trace li {color: #333;font-size: 9px;line-height:1.3em;margin:0;padding:0 0 0 .5em;}
#empty {color: #C00;text-decoration: underline;}
#spares {float:left;width:69%;}

.maintr p{color:red;font-size:12px;}
#tree2 a{border:none;}

.trhide{display:none;}
.trhide td{padding:10px 0;}
.trhide img{border:1px solid #ddd;margin:0 5px 5px 0;}
.trhide img:hover{border:1px solid #434343;}

#cont {margin: 0 auto; margin: 20px 0;text-align:center;width:600px;position:relative;}
.zoomy{position: absolute;display: none;background-repeat: no-repeat;border: 0;cursor: url(../images/blank.gif), move;line-height: 100px;text-align: center;background-image: url(../images/loading.gif);background-position: center;background-color: #fff;z-index: 1000;box-shadow: 3px 3px 10px #000;-webkit-box-shadow: 3px 3px 10px #000;-moz-box-shadow: 3px 3px 10px #000;}
.zoomy span {display: block;margin: 10px auto;background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.50, rgba(255, 255, 255, 0)), to( rgba(255, 255, 255, .5)));background: -moz-linear-gradient(bottom center, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .5) 100%);}
.zoomy img {opacity: 0;filter:alpha(opacity=0);}
.zoomy a {color: #333;text-decoration: none;border:none;}
.broke a {display: block;height: 100%;width: 100%;}
.zoom{border:none;}
#brokeZoomy {display: block;position: absolute;width: 30px;height: 30px;top: 0px;left: 0px;background: #fff url(../images/broke.gif) center no-repeat;-webkit-border-radius: 0px;-moz-border-radius: 0px;}

.magnifier{position:absolute;bottom:10px;right:15px;display:block;width:32px;height:32px;background:url(../images/magnifier-zoom.png) no-repeat center;}

.img_tree{display: block;list-style:none;position:relative;}
.img_tree li a{border:none;}
.img_tree li{
	float:left;margin:0 10px 10px 0;border:1px solid #ddd;
	display: block;
    width: 100px;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}
.img_tree li:hover{
	border:1px solid #434343;
	opacity: .9;
    -webkit-transform: scale(1.11,1.17);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.11,1.17);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}
.img_tree li img{width:100%;height:100%;}
#spares .table{margin-left:20px;}